<form  #LoginForm="ngForm">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"   [(ngModel)]="login.Email">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"   [(ngModel)]="login.Password">
    </div>
 
    <button type="submit" class="btn btn-primary" (click)="onSubmit(LoginForm)">Login</button>
    
    <button type="submit" class="btn btn-primary" (click)="reset(LoginForm)">Reset</button> 
    <br>
    <button type="submit" class="btn btn-primary" (click)="signup()" >Signup</button>
  </form>


